/*
 * @Author: tabtang
 * @Date: 2018-12-09 08:51:20
 * @Last Modified by: tabtang
 * @Last Modified time: 2018-12-09 09:03:25
 */
.picker-box {
    z-index: 100;
    font-size: 14px;
    .picker-box-con {
        position: fixed;
        background: #fff;
        width: 350px;
        height: 435px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        z-index: 1002;
        .picker-header {
            display: flex;
            justify-content: space-between;
            height: 50px;
            line-height: 50px;
            .picker-prev,
            .picker-next {
                font-size: 10px;
                width: 100px;
                text-align: center;
                cursor: pointer;
            }
            .picker-year {
                color: #76D49B;
                font-weight: 700;
            }
        }
        .picker-content {
            .picker-week {
                display: flex;
                .picker-weekday {
                    width: 50px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                }
            }
            .picker-con {
                display: flex;
                flex-wrap: wrap;
                .picker-day {
                    position: relative;
                    width: 50px;
                    height: 40px;
                    line-height: 40px;
                    margin: 2px 0;
                    color: #555;
                    font-weight: 600;
                    text-align: center;
                    cursor: pointer;
                }
                .today {
                    &::before {
                        content: " ";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 0;
                        height: 0;
                        border-top: 8px solid red;
                        border-left: 8px solid transparent;
                    }
                }
                .start {
                    color: #fff;
                    border-radius: 5px 0 0 5px;
                    background: #5ec443;
                }
                .within {
                    color: #fff;
                    background: #5ec443;
                }
                .end {
                    color: #fff;
                    border-radius: 0 5px 5px 0;
                    background: #5ec443;
                }
                .same-day {
                    background-size: cover;
                }
                .outfocus {
                    color: #e3e3e3;
                }
                .picker-day.outfocus {
                    cursor: default;
                }
            }
        }
        .picker-footer {
            width: 90%;
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            display: flex;
            border-bottom: 1px solid #eee;
            >div{
                width: 33.33%;
                text-align: center;
            }
            .picker-button-today {
                span {
                    width: 0;
                    display: inline-block;
                    margin-right: 20px;
                    border-top: 8px solid red;
                    border-left: 8px solid transparent;
                }
            }
            .picker-button-start,
            .picker-button-end {
                span {
                    width: 20px;
                    height: 20px;
                    background: #5ec443;
                    display: inline-block;
                    margin-right: 1px;
                    vertical-align: middle;
                    margin-bottom: 2.5px;
                }
            }
            .picker-button-end {
                span {
                    background: #5ec443;
                }
            }
        }
        .confim {
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 14px;
            color: #76D49B;
            cursor: pointer;
        }
    }
    .mask {
        position: fixed;
        width: 100%;
        margin: 0 auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1001;
        background: rgba(0,0,0,.6);
    }
}
